.request-now {
  margin-top: 3rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.request-div1 {
  border: 1px solid rgb(190, 183, 183);
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.for-username2 {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}

.for-username2-div {
  display: flex;
  gap: 10px;
}

.for-username2-div1 {
  display: flex;
}

.for-username2-div1>p {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
}

.for-username11 {
  height: 35px;
  width: 35px;
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 5px;
}

.for-usernameP {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 400;
  font-size: 16px;
}

.dolla-sign1 {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-sign1 {
  font-size: 12px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.dolla-sign1>input {
  width: 50%;
  font-size: 26px;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 0;
}

.us-currency1 {
  font-weight: 600;
  color: #0070ba;
}

.us-currency1:hover {
  color: #0070ba;
}

.someone {
  color: #0070ba;
  width: 80%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.someone:hover {
  color: #0070ba;
}

.searchInput8 {
  padding: 0;
  border: none;
  outline: none;
  text-align: left;
  width: 80%;
}

.eligible1 {
  margin-bottom: 0;
}

.btns-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.continue3 {
  width: 40%;
  padding: 2% 3%;
  border-radius: 30px;
}

.continue4 {
  width: 30%;
  border: none;
  color: #0070ba;
  text-align: center;
}

.continue4:hover {
  color: #0070ba;
}


@media screen and (max-width: 769px) {
  .request-now {
    width: 90%;
  }

  .for-username11 {
    height: 25px;
    width: 25px;
    padding: 3px;
  }
}