.settingsNav {
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.04) 0rem 0rem 0.5rem,
    rgba(0, 0, 0, 0.1) 0rem 0.125rem 1.125rem;
  height: 10%;
  position: fixed; 
  top: 10%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 20px;
  margin-bottom: 2em;
  z-index: 1000;
}

/* Apply margin only on larger devices */

.scrollContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* .scrollContainer::-webkit-scrollbar {
  display: none;
} */

.account {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: black;
  border: 1px solid transparent;
  padding: 10px 12px;
  border-radius: 24px;
}

.account:hover {
  border: 1px solid #0070ba;
  /* font-weight: 500; */
  color: #0070ba;
}

.active {
  border: 1px solid #0070ba;
  background-color: #d7e6f0;
  color: #0070ba;
}

@media (max-width: 767px) {
  .settingsNav {
    overflow: auto;
    white-space: nowrap;
    height: 7%;
    top: 7%;
    padding: 10px 0;
    margin-bottom: 1em;
    width: 100%;
  }

  .scrollContainer {
    padding: 0 10px; 
  }

  .account {
    font-size: 16px; 
    padding: 8px 10px;
  }
}